.custom-url-field {
    display: inline;
    width: 100px;
}

.site-url-field {
    color: green;
    display: inline;
}

.long-link-input {
    margin-bottom: 25px;
}

.tips {
    margin-top: 20px;
}

.check-btn {
    margin-bottom: 30px;
    margin-top: 30px;
}

#link-availability-status {
    margin-bottom: 20px;
}

.visibility-toggler {
    margin-bottom: 2em;
}
